html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.bowls {
    color: rgb(187, 179, 179);
    width: 22px;
    height: 22px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#nav a {
    margin-right: 20px;
}

#nav a.topimage {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    text-align: center;
}

#searchbarcontainaer {
    margin-top: 20px;
    text-align: center;
    position: relative;
}

#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 700px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    border: 2px solid #eeeeee;
}

#searchbar:hover {
    box-shadow: 0 0 10px 2px rgb(220, 217, 217);
}

#lupa {
    width: 22px;
    height: 22px;
    right: 10px;   
}

#voice {
    width: 22px;
    height: 22px;
    right: 10px;
}

#search, #voice { 
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#search {
    left: 10px;
}

#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background: #faf6f6;
    border-radius: 3px;
    border: 2px solid transparent;
}

.button:hover {
    box-shadow: 0 0 2px 1px rgb(199, 197, 197);
    border: 2px solid #eeeeee;
}

#links {
    margin-top: 20px;
    text-align: center;
    
    justify-content: space-between;
}

footer {
    position: relative;
    top: 100px;
    background-color: #ebe8e8f2;
    width: 100%;
    font-size: 15px;
    color: #70767a;
    border-top: 1ox solid #b4bdb4;
}

footer div {
    right: 30px;
    font-size: 25px;
    margin-right: 25px;
    height: 40px;
    align-items: center;
}





